@model DemoSite.Models.DemoConfig

@{
    ViewBag.Title = "Diag";
}

<h2>Diag</h2>

<fieldset>
    <legend>DemoConfig</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

