@{
    ViewBag.Title = "RWCM Demo";
}

<h2>Info</h2>
<p>
    Code and presentations from this talk can be found on GitHub <a href="https://github.com/ScottWeinstein/RWCM-Demo" title="RWCM-Demo">ScottWeinstein/RWCM-Demo</a>
</p>
